
* {
    font-family: Arial;
}

#cabecera{
    border-width: 2px;
    border-color: rgb(226, 15, 15);
    border-style: dashed;
    
}

#menuPrincipal{
    width: 20%;
    background-color:aquamarine;
    border-width: 3px;
    border-color: red;
    border-style: groove;
    border-radius: 25%;
    float: left;

}
#menuPrincipal1{
    width: 20%;
    background-color:rgb(14, 241, 173);
    border-width: 3px;
    border-color: red;
    border-style: groove;
    border-radius: 25%;
    float: left;

}
#cuerpo{
    background-repeat: no-repeat;
    background-image: url("../images/imagen3.jpg");
    background-position: top;
    background-attachment: fixed;

}
#contenido{
    width: 75%;
    border-width: 3px;
    border-color: green;
    border-style: groove;
    margin-left: 10px;
    padding: 5px 20px ;
    float: left;
    /*background-color: white;*/
}

#pie{
    clear: both;
}
    
#imagen{
    background-position: center;
    width: 300px;
    height: 200px;
    
}

#contactos{
    
    background-color: darkgray;
    background-repeat: no-repeat;
    background-image: url("../images/imagen3.jpg");
    background-position: top;
    background-attachment: fixed;
}
#cuerpo3{
    background-color: darksalmon;
    background-repeat: no-repeat;
    background-image: url("../images/imagen3.jpg");
    background-position: top;
    background-attachment: fixed;

}
#cabecera3{
    border-width: 3px;
    border-color: rgb(1, 2, 59);
    border-style: dotted;
    
}
#cuerpo4{
    background-color: rgb(12, 141, 180);
    background-repeat: repeat;
    background-image: url("../images/imagen11.jpg");
    background-position: top;
    background-attachment: fixed;

}
#cabecera4{
    border-width: 2px;
    border-color: rgb(1, 2, 59);
    border-style: ridge;
    
}